.postList li{
    padding: 10px 0;
    border-bottom: 1px solid #000;
}

.postLink{
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    cursor: pointer;
}

.postPopup{
    width: 500px;
    height: 600px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    text-align: right;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .3);
    overflow-y: auto;
}

.postPopupCloseBtn{
    padding: 5px 10px;
    border: none;
    background-color: #999;
    color: #fff;
    position: sticky;
    left: 10px;
    top: 10px;
}

.postPopupContent{
    text-align: left;
}

.postPopupContent *{
    max-width: 100%;
    white-space: normal;
}

.postPopupInfo{
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}