*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  display: inline-block;
  text-decoration: none;
  color: #000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 0;
}

.sr-only{
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}