.loginPopupBtn{
  padding: 0 10px;
  border: none;
  display: inline-block;
  background: none;
  cursor: pointer;
}

.loginPopup{
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 0;
}

.loginPopup.open{
  transform: translate(-50%, -50%);
  opacity: 1;
  transition-delay: .3s;
  transition-duration: .5s;
}

.loginPopup h2 {
  margin-bottom: 10px;
}

.loginPopup form{
  display: flex;
  flex-flow: column;
  gap: 5px;
  text-align: left;
}

.loginPopup input{
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.loginPopupDim{
  width: 100%;
  height: 100vh;
  display: block;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.loginPopupDim.open{
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
}

.loginBtn{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.loginPopupLink{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginPopupLink a{
  font-size: 14px;
}

.loginError{
  font-size: 12px;
  color: #ff0000;
  padding: 0 0 4px;
}

.snsLoginList{
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.snsLoginBtn{
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}